@import "tailwindcss";
@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-50: oklch(97% 0.035 273);
  --color-primary-100: oklch(94% 0.055 273);
  --color-primary-200: oklch(91% 0.075 273);
  --color-primary-300: oklch(87% 0.1 273);
  --color-primary-400: oklch(82% 0.12 273);
  --color-primary-500: oklch(76% 0.135 273);
  --color-primary-600: oklch(65% 0.12 273);
  --color-primary-700: oklch(52% 0.1 273);
  --color-primary-800: oklch(38% 0.075 273);
  --color-primary-900: oklch(25% 0.05 273);

  --color-primary-main: var(--color-primary-500);
  --color-primary: var(--color-primary-500);

  --color-info: var(--color-sky-600);
  --color-success: var(--color-emerald-600);
  --color-error: var(--color-rose-600);
}
button,
a,
input,
textarea,
select {
  cursor: pointer !important;
  &:disabled {
    cursor: not-allowed !important;
  }
}

.scrollbar-custom {
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}
.scrollbar-custom::-webkit-scrollbar {
  height: 8px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
  border: 2px solid transparent;
  background-clip: content-box;
  transition: background-color 0.3s ease;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.scrollbar-none {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
